/* setting variable colors to use in the project */
:root {
    --primary-color: rgb(246, 242, 212);
    --secondary-color: rgb(149, 209, 204);
    --dark-primary: rgb(85, 132, 172);
    --dark-secondary: rgb(34, 87, 126);
    --bg-color: rgb(245, 245, 245);
}

* {
    /* remove default margin, padding and font styles on all elements */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* set color and font-family to the body */
    color: var(--tertiary-color);
    background-color: var(--bg-color);
    font-family: Helvetica, Arial, sans-serif;
}

section {
    padding: 60px;
}

header {
    padding: 20px 35px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1{
    color: var(--primary-color);
    font-weight: bold;
    font-size: 36px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav{
    display: flex;
    align-items: center;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header a {
    color: white;
    text-decoration: none;
}

header nav ul li a {
    /* set properties for the header nav ul li a */
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}