/* Variable Colors */
:root {
    --primary-color: rgb(235, 233, 233);
    --secondary-color: #89bffd;
    --dark-primary: #2e68aa;
    --dark-secondary: #002651;
    --bg-color: rgb(245, 245, 245);
}

* {
    /* Remove default margin, padding and font styles on all elements */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* Set color and font-family to the body */
    color: var(--dark-secondary);
    background-color: var(--bg-color);
    font-family: Helvetica, Arial, sans-serif;
}

/* Adding padding to every section */
section {
    padding: 20px 30px;
}

/* header */
header {
    padding: 20px 35px;
    background-color: var(--dark-secondary);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

header h1 {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 36px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    padding: 15px 10px;
}

header nav ul li a {
    color: white;
    font-size: 1.55vw;
    padding: 10px 15px;
    font-weight: lighter;
    border-bottom: 4px solid var(--dark-primary);
    text-decoration: none;
    transition: ease-in-out 0.2s;
}

/* Navigation hover values */
header nav ul li a:hover {
    background-color: var(--dark-primary);
    box-shadow: 0 10px 25px rgba(32, 32, 32, 0.6);
}

/* Footer */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-secondary);
    padding: 40px;
}

footer h3, footer p {
    color: var(--primary-color);
    padding: 0 10px;
}

/* Responsive row */
.flex-row {
    display: flex;
    flex-wrap: wrap;
}

/* Hero */
.hero {
    padding: 25px 60px 75px 60px;
    background-color: var(--dark-secondary);
}

.hero-col {
    display: flex;
    flex: 1 50%;
}

.hero-col:first-child {
    justify-content: flex-end;
    padding-right: 30px;
}

.hero-col:last-child {
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    align-items: flex-start;
}

.hero-pic {
    width: 300px;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 0 10px 25px rgba(32, 32, 32, 0.6);
}

.hero h1 {
    text-align: center;
    padding-top: 20px;
    font-size: 32px;
}

.hero-col h1, .hero-col h2 {
    text-align: start;
    color: var(--primary-color);
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* About */
.about p {
    font-size: 24px;
    padding: 20px 10px;
}

/* Left Column */
.left-col {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

/* Right Column */
.right-col {
    flex: 4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 20px;
}

/* Section Title */
.section-title {
    width: 80%;
    text-align: end;
    font-size: 40px;
    padding: 10px;
    border-right: 5px solid var(--dark-primary);
}

/* Work */
/* Work Tile Opacity */
.work figure {
    opacity: 0.8;
    position: relative;
}

.work figure img {
    width: 100%;
    min-width: 50%;
    border: 9px solid var(--dark-primary);
    border-radius: 8px;
}

/* Work Tile on Hover Opacity to 1 */
.work figure:hover {
    opacity: 1;
}

/* Work Inside Tag */
.work figcaption {
    background-color: var(--dark-primary);
    padding: 10px;
    font-size: 28px;
    position: absolute;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    bottom: 20px;
    left: 8px;
}

.work figcaption h3, .work figcaption p {
    color: var(--primary-color);
}

.card{
    flex: 1 0 50%;
    padding: 2px;
}

.card:first-child{
    flex: 1 0 100%;
}

.card image {
    width: 100%;
    min-width: 50%;
}

/* Contact */
.contact .right-col {
    align-items: center;
    justify-content: space-around;
}

.contact .right-col a {
    color: var(--dark-secondary);
    font-size: 25px;
    font-weight: bolder;
    margin-top: 20px;
    padding: 9px 30px 5px 30px;
    border-bottom: 4px solid var(--dark-secondary);
    text-decoration: none;
    transition: ease-in-out 0.1s;
}

.contact .right-col a:hover {
    background-color: var(--dark-secondary);
    color: var(--primary-color);
    box-shadow: 5px 10px 10px rgba(32, 32, 32, 0.3);
    transition: ease-in-out 0.2s;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: space-around;
    }

    header nav ul li a {
        font-size: 20px;
    }

    .section-title {
        text-align: center;
        font-size: 45px;
        padding: 40px;
        border-right: 0;
        border-bottom: 5px solid var(--dark-primary);
    }

    .hero-pic {
        width: 250px;
    }

    .right-col {
        flex: auto;
    }

    .left-col {
        justify-content: center;
    }

    .work figcaption {
        padding: 10px;
        font-size: 20px;
    }

    .contact .right-col a {
        font-size: 30px;
    }

}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    header nav ul li a {
        font-size: 18px;
    }

    .left-col {
        display: flex;
        justify-content: center;
    }

    .section-title {
        font-size: 35px;
        padding: 20px 40px;
    }

    .hero-col:first-child {
        justify-content: center;
        padding: 20px;
    }

    .hero-col:last-child {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .hero-pic {
        width: 300px;
    }

    .container {
        width: 100%;
    }

    .about p {
        text-align: center;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    section {
        padding: 10px 10px;
    }

    header nav ul li a {
        font-size: 18px;
    }

    .hero {
        padding: 25px 40px 75px 40px;
    }

    .hero-col:first-child {
        justify-content: center;
        padding: 0;
    }

    .hero-col:last-child {
        flex-direction: column;
        justify-content: center;
        padding-left: 0;
        align-items: center;
    }

    .hero-col h1 {
        font-size: 25px;
    }

    .hero-col h2 {
        margin-top: 10px;
        font-size: 20px;
    }

    .hero-pic {
        width: 250px;
    }

    .hero-form button {
        width: 100%;
    }

    .container {
        width: 100%;
    }

    .work h2 {
        padding: 20px;
    }

    .right-col {
        padding: 10px 5px;
    }

    .left-col {
        justify-content: center;
    }

    .section-title {
        padding: 20px 5px;
    }

    .about p {
        text-align: center;
        padding: 20px 20px;
    }

    .work figcaption {
        padding: 10px;
        font-size: 20px;
    }

    .card{
        flex: 1 0 100%;
    }

    .contact .right-col a {
        padding: 10px 35px;
        font-size: 20px;
    }

}