/* setting variable colors to use in the project */
:root {
    --primary-color: rgb(235, 233, 233);
    --secondary-color: #89bffd;
    --dark-primary: #2e68aa;
    --dark-secondary: #002651;
    --bg-color: rgb(245, 245, 245);
}

* {
    /* remove default margin, padding and font styles on all elements */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* set color and font-family to the body */
    color: var(--dark-secondary);
    background-color: var(--bg-color);
    font-family: Helvetica, Arial, sans-serif;
}

section {
    padding: 20px 60px;
}

header {
    padding: 20px 35px;
    background-color: var(--dark-secondary);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 36px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav {
    display: flex;
    align-items: center;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    color: white;
    font-size: 1.55vw;
    padding: 10px 15px;
    font-weight: lighter;
    text-decoration: none;
    border: 1px solid var(--dark-secondary);;
}

header nav ul li a:hover {
    background-color: var(--secondary-color);
    color: var(--dark-secondary);
    border: 1px solid var(--primary-color);
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(32, 32, 32, 0.6);
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.hero {
    padding: 100px 60px;
    background-color: var(--dark-secondary);
}

.hero-col {
    display: flex;
    flex: 1 50%;
}

.hero-col:first-child {
    justify-content: end;
    padding-right: 30px;
}

.hero-col:last-child {
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    align-items: flex-start;
}

.hero-pic {
    width: 300px;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 0 10px 25px rgba(32, 32, 32, 0.6);
}

.hero h1 {
    text-align: center;
    padding-top: 20px;
    font-size: 32px;
}

.hero-col h1, .hero-col h2 {
    text-align: center;
    color: var(--primary-color);
}

.about p {
    font-size: 24px;
    padding: 20px 0;
}

.left-col {
    display: flex;
    flex: 1 20%;
    justify-content: end;
}

.right-col {
    flex: 2 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 20px;
}

.section-title {
    width: 80%;
    text-align: end;
    font-size: 48px;
    padding: 20px;
    border-right: 5px solid var(--dark-primary);
}

.work figure {
    opacity: 0.8;
    position: relative;
}

.work figcaption {
    background-color: var(--secondary-color);
    padding: 20px;
    font-size: 32px;
    position: absolute;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    bottom: 15%;
    left: 8px;
}


.work figure img {
    width: 100%;
    border: 9px solid var(--secondary-color);
    border-radius: 8px;
}

.work figure:hover {
    opacity: 1;
}

.my-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.my-work figure{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.my-work figure:first-child{
    padding-top: 8px;
    padding-right: 4px;
}

.my-work figure:last-child{
    padding-top: 8px;
    padding-left: 4px;
}

.right-col h3, .right-col p, .my-work h3, .my-work p {
    color: var(--dark-secondary);
}

.contact .right-col{
    align-items: center;
    justify-content: space-around;
}

.contact .right-col a{
    color: var(--dark-secondary);
    font-size: 25px;
    font-weight: bolder;
}